.image-by-id-container{
    margin: 6vh 35vw;
    border: solid #D64DD6 0.2px;
    border-radius: 25px;
    width: 400px;
    height: 400px;
    background-color: white;
}

.image-by-id{
    margin: 23px 28px;
    border-radius: 25px;
}

.intro-text{
    margin: 3vh 5vw;
}

.title-text {

    margin: 3vh 35vw;
    font-weight:400;
}